@import '~react-image-gallery/styles/css/image-gallery.css';

.image-gallery-image {
  border-radius: 7px;
}
.image-gallery-thumbnail-image {
  border-radius: 5px;
}
.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  outline: none;
  border: 1px solid #009d21;
  border-radius: 5px;
}
.mapboxgl-map {
  border-radius: 7px;
}
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #009d21;
}

::selection {
  color: white;
  background: #009d21;
}

@media (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
}

@media (min-width: 1024px) {
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
}

@media (min-width: 1024px) {
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}

@media (min-width: 1024px) {
  ::-webkit-scrollbar-thumb {
    background: #777777;
    border: 0;
    border-radius: 20px;
  }
}

@media (min-width: 1024px) {
  ::-webkit-scrollbar-track {
    background: #ccc;
    border: 0;
    border-radius: 0;
  }
}
